.macro-sheet.sheet .doormacro > .content-tabs {
  flex: 1;
}

.macro-sheet.sheet .doormacro .tab[data-tab],
.macro-sheet.sheet .doormacro .tab[data-tab] > .form-group {
  height: calc(100% - 5px);
}

.doormacro .command-line,
.doormacro .as-gm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form.doormacro > nav.sheet-tabs.tabs {
  text-align: center;
}

form.doormacro > nav.sheet-tabs.tabs > .active {
  text-shadow: 0 0 14px red;
}
