.doormacro .content-tabs {
  flex: 1;
}

.doormacro .tab[data-tab],
.doormacro .tab[data-tab] .form-group {
  height: calc(100% - 5px);
}

.doormacro .command-line,
.doormacro .as-gm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.doormacro .tabs {
  text-align: center;
  gap: 5px;
}

.doormacro .trigger.active {
  text-shadow: 0 0 8px var(--color-shadow-primary)
}
